# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo

# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de construcción
dist/
build/
*.log 